<div class="menu-btn">
  <i class="fas fa-bars"></i>
</div>

<div class="container">
  <!-- Nav -->
  <nav class="main-nav">
    <img src="../assets/img/logo.png" alt="Microsoft" class="logo">

    <ul class="main-menu">
      <li><a href="#">Office</a>
      <li><a href="#">Windows</a></li>
      <li><a href="#">Surface</a></li>
      <li><a href="#">Xbox</a></li>
      <li><a href="#">Deals</a></li>
      <li><a href="#">Support</a></li>
    </ul>

    <ul class="right-menu">
      <li><a href="#"><i class="fas fa-search"></i></a></li>
      <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
    </ul>

  </nav>

  <div class="main-layout">
    <h1>Main Layout header</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus consectetur facilis atque a, nemo alias! Optio
      illum perferendis eum, eos temporibus dolore saepe quod accusamus dolorum atque, mollitia possimus repudiandae
      harum molestiae facilis maiores accusantium repellendus obcaecati voluptatum? Iure ex molestiae quis fugit omnis
      porro nesciunt modi obcaecati sequi natus, autem officia praesentium quasi, quos officiis ullam rem voluptatibus
      pariatur assumenda aliquid delectus hic sit placeat similique! Ad placeat est voluptates, consequuntur unde autem
      animi optio? Nulla maxime iste saepe incidunt qui, eius nisi explicabo eos. Possimus, veniam blanditiis! Natus
      praesentium reprehenderit id repellendus eos et mollitia culpa assumenda iure tenetur! Molestiae, aliquid
      nesciunt! Quia numquam aliquid rerum, praesentium sed sint, in temporibus beatae dolorem quidem reiciendis. Illum,
      numquam porro ipsam dignissimos adipisci fugit saepe corrupti ducimus, provident commodi totam et vero. Ea ullam
      ipsa fugit facere? Quos illum corporis laboriosam facilis nesciunt, totam consequuntur impedit quae fugit
      inventore, reprehenderit id ullam aperiam similique quia culpa officia obcaecati optio ex. Corporis nisi fugiat
      placeat enim amet dolores eius ratione ipsum soluta perspiciatis est commodi, cum excepturi provident perferendis
      laudantium animi expedita! Ex tempora est quidem esse reprehenderit perferendis sapiente sequi, hic assumenda
      distinctio amet velit, ad provident error eligendi ab ullam nam rerum dolor quasi dignissimos! Corporis incidunt
      nihil harum rerum ducimus soluta? Hic aperiam voluptas quasi repudiandae accusantium rem ipsa sunt incidunt
      delectus velit modi, dignissimos enim ducimus doloribus impedit excepturi doloremque distinctio nemo rerum
      necessitatibus iusto consequatur expedita! Assumenda reiciendis, maiores distinctio labore itaque obcaecati
      officia natus eum, consectetur impedit, eveniet delectus nulla! Enim sapiente eum facilis explicabo impedit
      inventore iusto laborum quae beatae quos voluptatum reiciendis, nam rerum aliquam repellendus non a in odit
      doloribus asperiores eius ab fugit temporibus. Sequi quam quisquam, esse suscipit saepe vel consequatur adipisci
      veniam libero facere repudiandae deserunt. Id voluptatum sint quidem sed? Consectetur rem magni vel ipsam
      doloremque perferendis esse sit optio voluptatem. Cum totam corporis, ut esse laudantium laboriosam et quis iure
      voluptatem eveniet ducimus consequatur ipsa porro sit natus dolores velit labore odit harum magni ratione, amet
      quam, quidem vero! Tempora, ducimus? Accusamus inventore repellendus quod, tempore officia laborum reiciendis,
      modi repellat sapiente optio a fugiat! In repudiandae facilis sequi eaque ipsam impedit quo sapiente voluptatum,
      ab quibusdam, voluptatem ducimus recusandae odit expedita autem placeat aut fugit? Quam exercitationem magnam est
      laboriosam. Eum, quisquam, officiis voluptates laudantium asperiores unde voluptate cum autem distinctio provident
      qui fugit, natus cupiditate. Aperiam, beatae. Veritatis voluptatibus, maxime perferendis, ipsam quos harum
      quibusdam fuga optio consectetur voluptatum incidunt rerum nisi odio! Alias enim quaerat illo libero sint
      doloribus rerum neque id dicta. Qui dolorem, porro quaerat eius suscipit rerum quia iure ratione cumque id facilis
      praesentium hic, tempore totam ducimus error! Sapiente, obcaecati, consequuntur esse fugiat quas, quidem amet
      reprehenderit fugit exercitationem cum sint consequatur. Repellat, atque. Vitae eos culpa temporibus magnam
      doloribus perspiciatis nesciunt corporis totam amet? Adipisci natus neque recusandae reprehenderit quisquam
      officia vitae soluta temporibus, similique deserunt illo et error voluptate mollitia laborum, impedit optio
      suscipit doloremque, voluptatum sit. Ullam fuga accusamus quo molestiae cumque necessitatibus ipsa accusantium
      maxime provident libero quam fugiat, eum delectus expedita, illo aut odit sit itaque at nostrum ut repellat
      similique doloribus non. Facilis alias aliquid et debitis vel rerum officiis, illum quibusdam doloremque sapiente
      exercitationem tenetur veniam pariatur asperiores explicabo eveniet temporibus corrupti, cumque obcaecati
      distinctio error est reprehenderit. Explicabo fugit reiciendis non in suscipit. Et dolorem, impedit corrupti,
      odit, eius officia modi nam nemo recusandae commodi molestias ullam magnam reprehenderit! Natus ut dolorem labore,
      nisi ea, blanditiis, iusto assumenda quibusdam consectetur provident numquam iure eligendi. Laudantium, quisquam
      dicta similique atque corrupti consequatur provident!</p>
  </div>
</div>
