<p>short-numbers works!</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa error libero reiciendis facere, culpa alias similique
  rem in repellat illum est qui maiores incidunt animi id harum unde nisi minus quisquam esse dolorem sapiente sequi?
  Aliquam esse iusto quasi ut vel, necessitatibus reiciendis sequi soluta neque praesentium magnam aliquid nulla nostrum
  est. Consequuntur soluta dolore tempora facilis dolores totam cumque, fugit iste neque, quaerat harum ullam. Dolores
  officia earum eius quae voluptatem? Eaque perspiciatis, porro saepe reprehenderit quibusdam sit eos, quis consequuntur
  consectetur explicabo minus quas excepturi voluptate pariatur maxime amet ducimus maiores in reiciendis expedita, ut
  nisi accusantium autem! Quod quisquam aspernatur porro eaque officia vitae perspiciatis, possimus voluptas dolore
  dolorem deleniti, rem fugiat. Magni impedit libero consequuntur. Molestias ad suscipit ducimus sequi dolorum dolorem
  numquam voluptatum aspernatur, a aperiam eos est quisquam autem distinctio, nihil sapiente praesentium placeat minus
  voluptatibus in eaque labore iste nam. Sit, ducimus magnam nostrum et nam ipsam culpa! Dolorum exercitationem, neque
  id reprehenderit molestiae aspernatur debitis nemo dolorem at! Enim itaque iste debitis quia sit dolorum aliquam
  pariatur eveniet quae maxime perferendis aliquid ut at ipsum neque placeat, iure incidunt beatae, voluptates deserunt
  amet? Fugiat dicta eaque asperiores nisi adipisci ullam vero, delectus similique! Expedita esse ad consequuntur
  numquam at cupiditate voluptatum aperiam, earum recusandae ipsa. Omnis molestias aut illo aliquam tempore, totam at,
  impedit odit eveniet optio ducimus voluptate deleniti eos iure commodi fugit doloribus error, vero modi neque
  blanditiis inventore architecto! Quisquam, magni voluptas? Facilis natus, labore culpa optio necessitatibus quos
  fugit, temporibus consectetur eos repellendus numquam possimus rem blanditiis! Eius, sed. Ab reiciendis at modi
  repellendus dolor fuga consequatur quasi corporis, facere deleniti, neque amet ipsam. Quibusdam maxime dolores
  adipisci, veniam tempora unde itaque ducimus odit nesciunt esse cum natus architecto porro asperiores ut doloremque in
  reprehenderit repellat, consequuntur iste? Velit voluptatum animi, distinctio aliquam perspiciatis harum error,
  veritatis magnam, aliquid adipisci itaque dolores facilis nihil soluta libero ipsam similique ex? Dolorem culpa facere
  id reiciendis tenetur consequuntur, eum ipsam beatae quae quod explicabo cupiditate, odio a quam aperiam numquam
  inventore autem. Voluptatibus exercitationem numquam magnam quod corporis. Commodi architecto, dicta at eligendi
</p>
