<div class="container mt-2">
  <div class="button-bar">
    <button (click)="sizeToFit()">Size to Fit</button>
    <button (click)="autoSizeAll(false)">Auto-Size All</button>
    <button (click)="autoSizeAll(true)">Auto-Size All (Skip Header)</button>
</div>
  <ag-grid-angular
      #agGrid
      style="width: 100%; height: 85vh;"
      id="myGrid"
      class="ag-theme-balham"
      [modules]="modules"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [rowData]="rowData"
      (gridReady)="onGridReady($event)"
  >
  </ag-grid-angular>

</div>
