nav {
  background-color: white;
  color: #5c2483 !important;
  line-height: 1.4;
  //opacity: 0.95;
}

.logo {
  height: 23px;
  padding-right: 16px;
}

.navbar-toggler {
  color: #5c2483 !important;
  border-style: none !important;
  outline: none !important;
}

.navbar-toggler:hover {
  color: #8c5fac !important;
}

.nav-top-search input:hover,
.nav-top-search input:active,
.nav-top-search input:focus {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

.nav-top-search input {
  border: none;
}

.input-group-addon-btn button {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

.input-group-addon-btn {
  position: absolute;
  left: 0px;
  z-index: 9;
  outline: aliceblue;
  .btn {
    padding: 0.15rem 0.35rem 0.15rem 0.32rem;
  }
}

.nav-src-btn-icon {
  color: #5c2483;
}

.nav-top-search-input {
  color: #5c2483;
  background-color: transparent;
}

@media (max-width: 575px) {
  .logo-big {
    display: none;
  }
  .nav-top-search {
    order: 2;
  }
  .navbar-toggler {
    order: 3;
  }
}

@media (min-width: 576px) {
  .logo-sm {
    display: none;
  }
}

.nav-link {
  color: #7c6eb0;
  padding: 2px;
}

.nav-link:hover {
  color: #5c2483;
  border-bottom: 1px solid #7c6eb0;
}

.nav-link.active {
  color: #5c2483;
  border-bottom: 1px solid #5c2483;
}
